
<div class="container__big-card">

        <div class="big-card__photo">
            <img 
            src="https://cinebuzz.com.br/media/uploads/meninas_malvadas_a_nova_cinderela_e_mais_filmes_que_marcaram_os_anos_2000_e_amamos_ate_hoje.jpg" 
            alt="" 
            heigth="200px"
            srcset="">
        </div>

        <div class="big-card__title">
            <h1><a href="#">"Meninas Malvadas", "As Branquelas" e outros filmes dos anos 2000 que moram no meu coração</a></h1>        
        </div>
    
        <div class="big-card__description">
            <p><a href="#">Uma seleção dos filmes mais inesquecíveis dos anos 2000, que sempre reassisto e continuam especiais para mim</a></p>
        </div>

</div>
